* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Literata", "serif";
}

.nav {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo {
  width: 30%;
  display: flex;
  align-items: center;
}
.nav .logo h2 {
  font-size: 33px;
  padding-left: 40px;
  font-family: sans-serif;
  cursor: pointer;
}
.nav .logo h2 span {
  color: rgb(216, 0, 0);
}

.nav .list {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav .list a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: all 0.5s;
  font-family: sans-serif;
}
.nav .list a:hover {
  color: red;
}

.nav .icon {
  width: 30%;
  display: flex;
  justify-content: end;
}

.nav .icon i {
  font-size: 16px;
  padding-right: 23px;
  cursor: pointer;
  transition: all 0.5s;
}

.nav .icon i:hover {
  color: red;
}

.hero {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #f0f0f2;
}

.hero .tital {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.hero .tital h1 {
  font-size: 77px;
  width: 100%;
  font-family: sans-serif;
  padding-bottom: 40px;
}
.hero .tital p {
  width: 80%;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 50px;
}

.hero .tital .btn button {
  padding: 15px 35px;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #4a4a4b;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.hero .tital button:hover {
  background-color: red;
}

.hero .hero-img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-img img {
  width: 70%;
}

.about {
  width: 100%;
  padding: 100px 120px 20px;
}
.about h2 {
  font-size: 50px;
  font-family: sans-serif;
  margin-bottom: 40px;
}

.about .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.about .box .box1 {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.about .box .box1 .img-1 img {
  width: 100%;
  transition: all 0.8s ease;
  padding: 20px;
}
.about .box .box1 img:hover {
  transform: scale(1.1);
}

.about .box .box1 .tex {
  text-align: center;
}
.about .box .box1 .tex h5 {
  padding: 10px 0 5px;
  font-size: 20px;
}
.about .box .box1 .tex h6 {
  color: red;
  font-size: 16px;
}

.main-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 60px 0;
}
.main-img .z1 {
  width: 50%;
}
.main-img .z1 img {
  width: 100%;
  padding-right: 25px;
  transition: all 0.9s;
  object-fit: cover;
  object-position: center;
}
.main-img .z1 img:hover {
  transform: scale(0.9);
  filter: grayscale(80%);
}
.main-img .z2 {
  width: 25%;
}
.main-img .z2 img {
  width: 100%;
  padding-right: 20px;
  transition: all 0.9s;
  object-fit: cover;
  object-position: center;
}
.main-img .z2 img:hover {
  transform: scale(0.9);
  filter: grayscale(80%);
}
.main-img .z3 {
  width: 25%;
  padding: 10px;
}
.main-img .z3 img {
  width: 100%;
  transition: all 0.9s;
  object-fit: cover;
  object-position: center;
}
.main-img .z3 img:hover {
  transform: scale(0.9);
  filter: grayscale(80%);
}

.item {
  width: 100%;
  padding: 100px 200px 0px;
}
.item h2 {
  font-size: 35px;
  font-family: sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
.item p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 17px;
  font-family: sans-serif;
  line-height: 30px;
  opacity: 0.8;
}

.box-bg {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.box-bg .l1 {
  width: 30%;
}
.box-bg .l1 .bg-img {
  width: auto;
  height: 400px;
  background-image: url(images/popular1.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.box-bg .l1 .bg-img i {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 25px;
  color: red;
}

.box-bg .l1 .bg-img button {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in;
}

.box-bg .l1 .bg-img button:hover {
  opacity: 0.8;
}

.box-bg .l1 .bg-img .line {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

.box-bg .l1 .tex {
  width: 100%;
}
.box-bg .l1 .tex h5 {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l1 .tex h6 {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l2 {
  width: 30%;
}
.box-bg .l2 .bg-img {
  width: auto;
  height: 400px;
  background-image: url(images/popular2.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.box-bg .l2 .bg-img i {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 25px;
  color: red;
}

.box-bg .l2 .bg-img button {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in;
}

.box-bg .l2 .bg-img button:hover {
  opacity: 0.8;
}

.box-bg .l2 .bg-img .line {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

.box-bg .l2 .tex {
  width: 100%;
}
.box-bg .l2 .tex h5 {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l2 .tex h6 {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l3 {
  width: 30%;
}
.box-bg .l3 .bg-img {
  width: auto;
  height: 400px;
  background-image: url(images/popular3.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.box-bg .l3 .bg-img i {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 25px;
  color: red;
}

.box-bg .l3 .bg-img button {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in;
}

.box-bg .l3 .bg-img button:hover {
  opacity: 0.8;
}

.box-bg .l3 .bg-img .line {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

.box-bg .l3 .tex {
  width: 100%;
}
.box-bg .l3 .tex h5 {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l3 .tex h6 {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l4 {
  width: 30%;
}
.box-bg .l4 .bg-img {
  width: auto;
  height: 400px;
  background-image: url(images/popular4.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.box-bg .l4 .bg-img i {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 25px;
  color: red;
}

.box-bg .l4 .bg-img button {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in;
}

.box-bg .l4 .bg-img button:hover {
  opacity: 0.8;
}

.box-bg .l4 .bg-img .line {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

.box-bg .l4 .tex {
  width: 100%;
}
.box-bg .l4 .tex h5 {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l4 .tex h6 {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l5 {
  width: 30%;
}
.box-bg .l5 .bg-img {
  width: auto;
  height: 400px;
  background-image: url(images/popular5.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.box-bg .l5 .bg-img i {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 25px;
  color: red;
}

.box-bg .l5 .bg-img button {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in;
}

.box-bg .l5 .bg-img button:hover {
  opacity: 0.8;
}

.box-bg .l5 .bg-img .line {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

.box-bg .l5 .tex {
  width: 100%;
}
.box-bg .l5 .tex h5 {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l5 .tex h6 {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l6 {
  width: 30%;
}
.box-bg .l6 .bg-img {
  width: auto;
  height: 400px;
  background-image: url(images/popular6.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.box-bg .l6 .bg-img i {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 25px;
  color: red;
}

.box-bg .l6 .bg-img button {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in;
}

.box-bg .l6 .bg-img button:hover {
  opacity: 0.8;
}

.box-bg .l6 .bg-img .line {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

.box-bg .l6 .tex {
  width: 100%;
}
.box-bg .l6 .tex h5 {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: sans-serif;
  opacity: 0.7;
}

.box-bg .l6 .tex h6 {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.7;
}

.page {
  width: 100%;
  padding: 100px 200px 50px;
}

.page .watch {
  display: flex;
  margin-bottom: 30px;
}
.page .wa-te {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.page .wa-te h3 {
  font-size: 50px;
  padding: 40px 0;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.page .wa-te p {
  font-size: 16px;
  width: 80%;
  font-family: sans-serif;
  line-height: 28px;
  opacity: 0.8;
  padding-bottom: 40px;
}

.page .wa-te button {
  font-size: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 24px 30px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  opacity: 0.9;
  cursor: pointer;
  display: inline-block;
}

.page .wa-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .wa-img img {
  width: 100%;
  padding: 20px;
}

.icon-box {
  width: 100%;
  padding: 50px 200px 100px;
}
.icon-box .model-data {
  width: 100%;
  background-color: rgb(227, 5, 5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.icon-box .model-data .model {
  padding-left: 40px;
}
.icon-box .model-data .model i {
  color: white;
  font-size: 30px;
  padding-bottom: 10px;
}
.icon-box .model-data .model h5 {
  color: white;
  font-family: sans-serif;
  padding: 20px 0;
  font-size: 20px;
}
.icon-box .model-data .model p {
  font-family: sans-serif;
  font-size: 16px;
  width: 80%;
  line-height: 30px;
  opacity: 0.8;
  color: white;
}

.footer {
  width: 100%;
  padding: 50px 200px 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer .f11 {
  width: 30%;
}
.footer .f11 h4 {
  font-size: 33px;
  font-family: sans-serif;
  cursor: pointer;
  padding-bottom: 40px;
}
.footer .f11 h4 span {
  color: red;
}

.footer .f11 p {
  width: 100%;
  line-height: 30px;
  opacity: 0.8;
}

.footer .f1 h5 {
  font-size: 20px;
  font-family: sans-serif;
  padding-bottom: 40px;
  padding-top: 10px;
}

.footer .f1 p {
  padding-bottom: 15px;
  font-family: sans-serif;
  opacity: 0.8;
}

.foot {
  width: 100%;
  padding: 0 200px 80px;
  display: flex;
}

.foot .copy {
  width: 65%;
}
.foot .copy p {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 30px;
}
.foot .copy p i {
  color: red;
}
.foot .copy p span {
  color: red;
  font-family: sans-serif;
}

.foot .socia {
  width: 45%;
  display: flex;
  justify-content: end;
}

.foot .socia i {
  padding-right: 20px;
  cursor: pointer;
}
.foot .socia i:hover {
  color: red;
}

.page .by {
  padding-left: 20px;
}

@media screen and (max-width: 1650px) {
  .hero .tital h1 {
    width: 80%;
  }
}

@media screen and (max-width: 1270px) {
  .hero .tital h1 {
    width: 90%;
  }
  .item {
    padding: 100px 150px 20px;
  }
  .box-bg .l1 .bg-img {
    height: 350px;
  }

  .box-bg .l2 .bg-img {
    height: 350px;
  }

  .box-bg .l3 .bg-img {
    height: 350px;
  }

  .box-bg .l4 .bg-img {
    height: 350px;
  }

  .box-bg .l5 .bg-img {
    height: 350px;
  }

  .box-bg .l6 .bg-img {
    height: 350px;
  }
}

@media screen and (max-width: 1120px) {
  .hero .tital h1 {
    width: 100%;
  }
  .about {
    padding: 100px 100px 20px;
  }
  .page {
    padding: 100px 100px 50px;
  }
  .item {
    padding: 100px 100px 20px;
  }
  .icon-box {
    padding: 50px 100px 100px;
  }

  .footer {
    padding: 50px 100px 100px;
  }
  .foot {
    padding: 0 100px 80px;
  }

  .box-bg .l1 .bg-img {
    height: 335px;
  }

  .box-bg .l2 .bg-img {
    height: 335px;
  }

  .box-bg .l3 .bg-img {
    height: 335px;
  }

  .box-bg .l4 .bg-img {
    height: 335px;
  }

  .box-bg .l5 .bg-img {
    height: 335px;
  }

  .box-bg .l6 .bg-img {
    height: 335px;
  }
}

@media screen and (max-width: 1000px) {
  .nav .list {
    width: 50%;
  }
  .nav .icon {
    width: 20%;
  }

  .hero .tital {
    padding-left: 8%;
  }
  .hero .tital h1 {
    font-size: 65px;
  }

  .about {
    padding: 100px 80px 20px;
  }
  .about h2 {
    margin-bottom: 30px;
  }
  .about .box .box1 .img-1 img {
    padding: 10px;
  }

  .page {
    padding: 100px 80px 50px;
  }

  .page .wa-te h3 {
    font-size: 30px;
    padding: 30px 0;
  }
  .page .wa-te p {
    width: 85%;
    font-size: 14px;
    line-height: 25px;
  }

  .item {
    padding: 100px 80px 20px;
  }
  .icon-box {
    padding: 50px 80px 100px;
  }

  .footer {
    padding: 50px 80px 100px;
  }
  .foot {
    padding: 0 80px 80px;
  }
  .item p {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .nav .logo {
    width: 50%;
  }

  .nav .list {
    display: none;
  }
  .hero .tital h1 {
    font-size: 50px;
    padding-bottom: 30px;
  }
  .hero .tital {
    padding-left: 6%;
  }
  .hero .tital p {
    width: 80%;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
  }

  .about {
    padding: 80px 50px 20px;
  }
  .page {
    padding: 100px 50px 50px;
  }
  .item {
    padding: 0px 50px 20px;
  }
  .icon-box {
    padding: 30px 50px 50px;
  }

  .footer {
    padding: 50px 50px 100px;
  }
  .foot {
    padding: 0 50px 80px;
  }

  .about .box .box1 .tex h5 {
    font-size: 14px;
  }
  .about .box .box1 .tex h6 {
    font-size: 12px;
  }
  .item p {
    width: 100%;
  }
  .box-bg {
    flex-wrap: wrap;
  }
  .box-bg .l1 {
    width: 45%;
  }

  .box-bg .l2 {
    width: 45%;
  }

  .box-bg .l3 {
    width: 50%;
  }

  .box-bg .l4 {
    width: 50%;
  }

  .box-bg .l5 {
    width: 50%;
  }

  .box-bg .l6 {
    width: 50%;
  }

  .page .wa-te h3 {
    font-size: 20px;
    padding: 20px 0;
  }
  .page .wa-te p {
    width: 85%;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .page .wa-te button {
    font-size: 14px;
    padding: 16px 25px;
  }
  .page .wa-img img {
    width: 100%;
    padding: 5px;
  }

  .icon-box .model-data {
    flex-wrap: wrap;
  }
  .icon-box .model-data .model {
    width: 50%;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer .f11 {
    width: 50%;
  }
  .footer .f11 h4 {
    padding-bottom: 30px;
  }
  .footer .f1 {
    width: 40%;
  }
  .footer.f1 h5 {
    padding-bottom: 30px;
  }

  .page .by {
    padding-left: 20px;
  }
}

@media screen and (max-width: 620px) {
  .hero .tital h1 {
    font-size: 35px;
    padding-bottom: 20px;
  }
  .hero .tital p {
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .hero .tital .btn button {
    padding: 13px 28px;
    font-size: 13px;
  }
  .about .box {
    flex-wrap: wrap;
  }
  .about .box .box1 {
    width: 50%;
  }

  .about {
    padding: 80px 30px 20px;
  }
  .page {
    padding: 100px 30px 50px;
  }
  .item {
    padding: 0px 30px 20px;
  }
  .icon-box {
    padding: 30px 30px 50px;
  }

  .footer {
    padding: 50px 30px 100px;
  }
  .foot {
    padding: 0 30px 80px;
  }

  .about h2 {
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 20px;
  }
  .about .box .box1 {
    padding: 0;
  }

  .main-img {
    flex-wrap: wrap;
    width: 100%;
    margin: 40px 0;
  }

  .main-img .z1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .main-img .z2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .main-img .z3 {
    width: 100%;
  }
  .about .box .box1 .tex h5 {
    font-size: 16px;
  }
  .main-img .z1 img {
    padding: 0;
  }
  .main-img .z2 img {
    padding: 0;
  }
  .main-img .z3 {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .nav .logo {
    width: 80%;
  }

  .nav .icon {
    width: 30%;
  }

  .hero {
    flex-wrap: wrap;
  }
  .hero .tital {
    width: 100%;
    height: 50vh;
    padding-left: 8%;
  }

  .hero .tital h1 {
    font-size: 32px;
    padding-bottom: 20px;
    opacity: 0.8;
  }

  .hero .tital p {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  .hero .tital .btn button {
    padding: 15px 30px;
    font-size: 16px;
  }
  .hero .hero-img {
    display: none;
  }
  .about .box .box1 {
    width: 100%;
  }
  .about .box .box1 .tex h5 {
    font-size: 20px;
    padding: 10px;
  }
  .about .box .box1 .tex h6 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .box-bg .l1 {
    width: 100%;
  }

  .box-bg .l2 {
    width: 100%;
  }
  .box-bg .l3 {
    width: 100%;
  }
  .box-bg .l4 {
    width: 100%;
  }
  .box-bg .l5 {
    width: 100%;
  }
  .box-bg .l6 {
    width: 100%;
  }

  .box-bg .l1 .tex h6 {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .box-bg .l2 .tex h6 {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .box-bg .l3 .tex h6 {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .box-bg .l4 .tex h6 {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .box-bg .l5 .tex h6 {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .box-bg .l6 .tex h6 {
    padding-bottom: 0;
    font-size: 20px;
  }

  .page {
    padding: 0px 30px 30px;
  }
  .page .watch {
    flex-wrap: wrap;
  }
  .page .wa-te {
    width: 100%;
    padding-left: 30px;
  }

  .page .wa-img {
    width: 100%;
  }

  .icon-box .model-data .model {
    width: 100%;
  }
  .icon-box .model-data .model i {
    padding-top: 20px;
  }

  .footer .f11 {
    width: 100%;
  }

  .footer .f1 {
    width: 100%;
  }

  .footer {
    padding: 20px 40px 50px;
  }

  .footer .f11 h4 {
    font-size: 35px;
    padding-bottom: 25px;
  }
  .footer .f1 h5 {
    font-size: 25px;
    padding-bottom: 22px;
  }

  .foot {
    padding: 0 30px 50px;
    flex-wrap: wrap;
  }
  .foot .copy {
    width: 100%;
  }

  .foot .socia {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-top: 30px;
  }
  .foot .socia i {
    font-size: 16px;
  }

  .page .wa-te button {
    margin-bottom: 20px;
  }
}
